<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    .form-control{
      width:450px;
      padding:30px;
      margin:40px auto;
      background: #FFF;
      border-radius: 10px;
      -webkit-border-radius:10px;
      -moz-border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    }

    .form-control .inner-wrap{
	    padding: 30px;
      background: #F8F8F8;
      border-radius: 6px;
      margin-bottom: 15px;
      width: 100%;
      /* display: flex;
      flex-direction: row;
      justify-content: space-between; */
    }

    .form-control input[type=text] {
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 8px;
      border-radius: 10px;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      border: 1px solid #fff;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    }

    .form-control input[type=text]:focus {
      background-color: rgb(228, 228, 228);
    }


    .form-control .send-btn {
      background: #373e66;
      padding: 8px 20px 8px 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      color: #fff;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
      font: normal 30px 'Bitter', serif;
      -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
      border: 1px solid #747db3;
      font-size: 15px;
      width: 100%;
      margin: 10px 0;
    }

    .form-control .send-btn:hover {
      background: #747db3;
      -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
      -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
      box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    }

    #message-container {
      width: 100%;
      max-width: 1200px;
      max-height: 600px;
      overflow-y: scroll;
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      /* position: fixed; */
      padding: 0;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 100%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
  </style>
</head>
<body>
  <div class= "form-control">
    <div id="message-container"></div>
    <form id="send-container">
      <div class="inner-wrap">
        <input type="text" id="message-input">
        <button class= "send-btn" type="submit" id="send-button">Send</button>
      </div>
    </form>
  </div>
</body>
</html>